<!-- views/index.ejs -->

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav class="main-head">Express-board</nav>
        <div class="msg-container">
            <% messages.forEach((msg) => { %>
                <a href="/messages/<%= msg.id %>" class="msg-link">
               <div class="msg-div">
                    <h2><%= msg.text %></h2>
                    <h4><%= msg.user %></h4>
                    <p>Date: <%= msg.added.toLocaleDateString() %> At <%= msg.added.toLocaleTimeString() %></p>
                </div> 
                </a>
            <% }) %>
        </div>
        <a href="/new">
            <button class="add-butt">Add a Message!</button>
        </a>
    </body>
</html>